.DS_Store
.atom/
.idea
.gradle
.vscode
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock

android/.gradle/
android/.idea/
example/ios/Podfile.lock
example/android/.gradle/
example/android/.idea/
example/build/**
**/Flutter/App.framework/
**/Flutter/Flutter.framework/
**/Flutter/Generated.xcconfig/
**/Flutter/flutter_assets/